[Unit]
Description=dds Service
After=network.target

[Service]
User=ros2
ExecStart=/usr/local/bin/MicroXRCEAgent serial --dev /dev/ttyUSB0 -b 921600
WorkingDirectory=/home/ros2
Restart=on-failure
RestartSec=5s
Environment="ROS_LOG_DIR=/var/log/ros2"
SyslogIdentifier=dds_service

[Install]
WantedBy=multi-user.target
