[Unit]
Description=Tracker Service
After=network.target

[Service]
User=ros2
ExecStart=/opt/tracker.sh
WorkingDirectory=/home/ros2
Restart=on-failure
RestartSec=5s
Environment="ROS_LOG_DIR=/var/log/ros2"
SyslogIdentifier=tracker_service

[Install]
WantedBy=multi-user.target
