[Unit]
Description=Video Service
After=network.target

[Service]
User=ros2
ExecStart=/opt/video.sh
WorkingDirectory=/home/ros2
Restart=on-failure
RestartSec=5s
Environment="ROS_LOG_DIR=/var/log/ros2"
SyslogIdentifier=video service

[Install]
WantedBy=multi-user.target
